In [223]:
import pandas as pd 
import numpy as np

# Создаю таблицы

In [224]:
test_1 = pd.read_excel('Тестовое задание Excel КР.xlsx', sheet_name='Исх к заданиям', skiprows=1, index_col ='Табельный номер') # Считываю 1-й лист

In [225]:
table_1 = test_1.loc[:, 'ФИО' : 'Сумма'] # Таблица 1

In [226]:
table_2 = test_1[['Условие', 'Статус']].loc[:3] # Таблица 2

In [227]:
table_3 = test_1[['Должность.1', 'Кол часов.1']].loc[:5].rename(columns={'Должность.1': 'Должность', 'Кол часов.1' : 'Кол часов'}) # Таблица 3

# В таблице 1 заполнияю столбец Кол часов, данные беру из таблицы 3.

In [228]:
preparation_table_1 = table_1['Должность'].reset_index() # Создаю промежуточную переменную для добавления 'Кол часов'
preparation_table_1 = preparation_table_1.merge(table_3)

In [229]:
preparation_table_1 = preparation_table_1.set_index('Табельный номер')

In [230]:
table_1['Кол часов'] = preparation_table_1['Кол часов'].astype('int64')

In [231]:
table_1

,ФИО,Должность,Объект,Ставка,Кол часов,Кол смен,Сумма
Табельный номер,,,,,,,
1,Полевич Андрей Евгеньевич,Грузчик,19-я линия ВО 16А (СПБ),250,7,7,NaN
2,Галлямов Айваз Ирекович,Сборщик,"2-й Муринский пр., 34к1 (СПб)",270,10,12,NaN
3,Гафуров Файйез Отабек Угли,Повар,"2-й Муринский пр., 34к1 (СПб)",300,8,8,NaN
4,Мирсаидов Абдикодир Орифджон Угли,Тестовод,"2-й Муринский пр., 34к1 (СПб)",255,8,11,NaN
5,Пайзиев Мустафа,Повар,"2-й Муринский пр., 34к1 (СПб)",300,8,8,NaN
...,...,...,...,...,...,...,...
90,Ишанкулов Анваржан Касымович,Сборщик,"Шотмана, 7 (СПб)",270,10,11,NaN
91,Кадимов Айрат Русланович,Курьер,"Шотмана, 7 (СПб)",220,11,11,NaN
92,Лавриненко Руслан Вадимович,Грузчик,"Шотмана, 7 (СПб)",250,7,14,NaN
20,Файзуллаев Нуриддин Хуснидин Угли,Повар,"Шотмана, 7 (СПб)",300,8,9,NaN
94,Абдуразоков Раджаббой Азимджон Угли,Сборщик,Энгельса 124к1 (СПБ),270,10,10,NaN

# Заполняю столбец Сумма, как произведение ставки на кол часов на кол смен.

In [232]:
table_1 = table_1.loc[:,'ФИО' : 'Кол смен'] # Решил сумму заново вписать)

In [233]:
table_1['Сумма'] = (
                    table_1['Ставка'] * 
                    table_1['Кол часов'] *
                    table_1['Кол смен']
)

In [234]:
table_1 # результат

,ФИО,Должность,Объект,Ставка,Кол часов,Кол смен,Сумма
Табельный номер,,,,,,,
1,Полевич Андрей Евгеньевич,Грузчик,19-я линия ВО 16А (СПБ),250,7,7,12250
2,Галлямов Айваз Ирекович,Сборщик,"2-й Муринский пр., 34к1 (СПб)",270,10,12,32400
3,Гафуров Файйез Отабек Угли,Повар,"2-й Муринский пр., 34к1 (СПб)",300,8,8,19200
4,Мирсаидов Абдикодир Орифджон Угли,Тестовод,"2-й Муринский пр., 34к1 (СПб)",255,8,11,22440
5,Пайзиев Мустафа,Повар,"2-й Муринский пр., 34к1 (СПб)",300,8,8,19200
...,...,...,...,...,...,...,...
90,Ишанкулов Анваржан Касымович,Сборщик,"Шотмана, 7 (СПб)",270,10,11,29700
91,Кадимов Айрат Русланович,Курьер,"Шотмана, 7 (СПб)",220,11,11,26620
92,Лавриненко Руслан Вадимович,Грузчик,"Шотмана, 7 (СПб)",250,7,14,24500
20,Файзуллаев Нуриддин Хуснидин Угли,Повар,"Шотмана, 7 (СПб)",300,8,9,21600
94,Абдуразоков Раджаббой Азимджон Угли,Сборщик,Энгельса 124к1 (СПБ),270,10,10,27000

In [235]:
print_table_1 = table_1.to_excel('table_1.xlsx', index=True) # создаю excel таблицу

# Заполнить таблицу 4 данными из таблицы 1.

In [236]:
table_4 = pd.read_excel('Тестовое задание Excel КР.xlsx', sheet_name='Условия к заданию 1', skiprows=1) # считываю 2-й лист

In [237]:
table_4 = table_4[:94].set_index('Табельный номер') # Привожу табельный номер к индексу

In [238]:
table_4.index = table_4.index.astype('int64') # Привожу индекс в порядок(записался типа float)

In [239]:
pivot_table_1 = pd.pivot_table(table_1, index = table_1['ФИО'], values='Сумма', aggfunc='sum') # сводная таблица для добавления данных

In [240]:
tab_num = table_1.reset_index().set_index('ФИО')['Табельный номер'] # достаю данные из 1 -й таблицы для присваивания табельного номера

In [241]:
pivot_table_1 = pivot_table_1.merge(tab_num, left_on=pivot_table_1.index, right_on=tab_num.index, how='left') # присваиваю по ФИО табельный номер

In [242]:
pivot_table_1 = pivot_table_1.drop_duplicates().set_index('Табельный номер').rename(columns= {'key_0' : 'ФИО'}) # убираю дубликаты и переминовываю колонку

In [243]:
data_table_FIO = dict(zip(pivot_table_1.index, pivot_table_1['ФИО'])) # создаю словарь колнки "ФИО"

In [244]:
data_table_SUM = dict(zip(pivot_table_1.index, pivot_table_1['Сумма'])) # создаю словарь колнки "Сумма"

In [245]:
def add_in_test_2(table_fill_in, data, column_name): 
    for i in table_fill_in.index:   # прохожусь по индексам, сравниваю значения и добавляю значения из нужных колонок
        for key, value in data.items():
            if i == key:
                table_fill_in.loc[i, column_name] = value

In [248]:
add_in_test_2(table_4, data_table_FIO, 'ФИО')
add_in_test_2(table_4, data_table_SUM, 'Сумма')

In [249]:
table_4 # Результат

                                                    ФИО    Сумма  Статус
Табельный номер
30                                Алимов Анвар Тураевич  18900.0     NaN
74                           Кенжаев Санжар Шухрат Угли  18900.0     NaN
59                         Кучаров Сафарбек Файзалиевич  15750.0     NaN
49                        Трегубов Даниил Александрович  29040.0     NaN
5                                      Пайзиев  Мустафа  19200.0     NaN
...                                                 ...      ...     ...
54               Нематджонов Муродилджон Содикджон Угли  27000.0     NaN
87                            Солоева Марьям Руслановна  32400.0     NaN
45                              Астафьев Денис Олегович  35100.0     NaN
41                             Сабуров Манон Шавкатович  35100.0     NaN
16                               Амиров Тимур Ришадович  28800.0     NaN

[94 rows x 3 columns]

# В случае, если по табельному номеру нет сотрудника, укажите в формуле условие, чтоб в столбце ФИО формула возвращала "Нет табельного", а в столбце сумма "0".

In [250]:
table_4['ФИО'] = table_4['ФИО'].fillna('Нет табельного') # Заполняю пустые ячейки

In [251]:
table_4['Сумма'] = table_4['Сумма'].fillna(0).astype('int64') # Заполняю пустые ячейки, меняю тип

In [252]:
table_4 # результат

                                                    ФИО  Сумма  Статус
Табельный номер
30                                Алимов Анвар Тураевич  18900     NaN
74                           Кенжаев Санжар Шухрат Угли  18900     NaN
59                         Кучаров Сафарбек Файзалиевич  15750     NaN
49                        Трегубов Даниил Александрович  29040     NaN
5                                      Пайзиев  Мустафа  19200     NaN
...                                                 ...    ...     ...
54               Нематджонов Муродилджон Содикджон Угли  27000     NaN
87                            Солоева Марьям Руслановна  32400     NaN
45                              Астафьев Денис Олегович  35100     NaN
41                             Сабуров Манон Шавкатович  35100     NaN
16                               Амиров Тимур Ришадович  28800     NaN

[94 rows x 3 columns]

# Проставьте в таблице 4 статусы, возьмите их в таблице 2.

In [253]:
table_4['Статус'] = table_4['Статус'].astype('object').fillna('-') # Меняю тип и заполняю пустые ячейки

In [254]:
status_A = table_4[table_4['Сумма'] > 30000] # Достаю значения больше 30000

In [255]:
status_B = table_4[                                       # Достаю значения в диапазоне от 25000 до 30000
                          (table_4['Сумма'] < 30000) &
                          (table_4['Сумма'] > 25000)
    ]

In [256]:
status_C = table_4[                                       # До 25000 
                          (table_4['Сумма'] < 25000) &
                          (table_4['Сумма'] > 0)
    ]

In [257]:
def add_status(check_table, column_name, status):      # создаю функцю для добавления нужного статуса в нужную ячейку
    for id_1 in check_table.index:
        for id_2 in column_name.index:
            if id_1 == id_2:
                check_table.loc[id_1, 'Статус'] = status

In [258]:
add_status(table_4, status_A, table_2['Статус'][1])  # добавляю нужные значения 
add_status(table_4, status_B, table_2['Статус'][2])
add_status(table_4, status_C, table_2['Статус'][3])

In [259]:
table_4 # вывод результата

                                                    ФИО  Сумма Статус
Табельный номер
30                                Алимов Анвар Тураевич  18900      В
74                           Кенжаев Санжар Шухрат Угли  18900      В
59                         Кучаров Сафарбек Файзалиевич  15750      В
49                        Трегубов Даниил Александрович  29040      Б
5                                      Пайзиев  Мустафа  19200      В
...                                                 ...    ...    ...
54               Нематджонов Муродилджон Содикджон Угли  27000      Б
87                            Солоева Марьям Руслановна  32400      А
45                              Астафьев Денис Олегович  35100      А
41                             Сабуров Манон Шавкатович  35100      А
16                               Амиров Тимур Ришадович  28800      Б

[94 rows x 3 columns]

In [260]:
print_table_2 = table_4.to_excel('table_4.xlsx', index=True) # создаю excel таблицу

# На листе "Сводная" сделайте такую сводную таблицу по таблице 4, по которой было бы наглядно видно распределение должностей на всех объектах.

In [261]:
pivot_table_2 = test_1[['ФИО', 'Должность', 'Объект']] # подготавливаю данные

In [262]:
pivot_table_2 = pd.pivot_table(pivot_table_2, index = pivot_table_2.index, values=['Объект', 'Должность', 'ФИО'], aggfunc='sum') # создаю сводную таблицу для добавления нужных данных

In [263]:
table_4 = table_4.reset_index().merge(pivot_table_2, how='left') # объеденяю все в 1 таблицу

In [264]:
table_4[['Должность', 'Объект']] = table_4[['Должность', 'Объект']].fillna('-') # заполняю пустые ячейки черточками

In [265]:
table_4 = table_4.set_index('Табельный номер') # возвращаю табельный номер как индекс

In [266]:
table_4.head(50) # таблица готова (Где напротив ФИО стоит прочерк, должностей и объектов  > 1)

,ФИО,Сумма,Статус,Должность,Объект
Табельный номер,,,,,
30,Алимов Анвар Тураевич,18900,В,Сборщик,Испытателей 13 (СПБ)
74,Кенжаев Санжар Шухрат Угли,18900,В,Сборщик,Тихая 3стр1 (СПб)
59,Кучаров Сафарбек Файзалиевич,15750,В,Грузчик,"Софьи Ковалевской, 3к1 (СПб)"
49,Трегубов Даниил Александрович,29040,Б,Курьер,Рашетова 3 (СПб)
5,Пайзиев Мустафа,19200,В,Повар,"2-й Муринский пр., 34к1 (СПб)"
6,Новиков Александр Алексеевич,19250,В,Грузчик,5-й Предпортовый пр-д 2стр1 (СПб)
71,Абдувосеев Элмирджон Кахрамонович,35100,А,Сборщик,Тихая 3стр1 (СПб)
72,Ахматкулов Искандар Комилович,24500,В,Грузчик,Тихая 3стр1 (СПб)
80,Нет табельного,0,-,-,-
28,Турсунов Ахлиёр Акбарович,19200,В,Повар,Заречная 10 (СПб)
1,Полевич Андрей Евгеньевич,36450,А,-,-
63,Исматов Умарбек Раджабович,26620,Б,Курьер,Среднерогатская 10к1 (СПБ)
66,Султонов Дайир Хасан Угли,26400,Б,Повар,Среднерогатская 10к1 (СПБ)
51,Миропольцев Денис Александрович,24300,В,Сборщик,Седова 17к2 (СПб)
84,Ахмедов Шавкат Кучкарович,29700,Б,Сборщик,Федора Абрамова 20 (СПб)
31,Нет табельного,0,-,-,-
29,Эргашев Бекзод Улугбек Угли,24200,В,Курьер,Заречная 10 (СПб)
77,Хакимов Илхом Рустам угли,24300,В,Сборщик,Тихая 3стр1 (СПб)
24,Слетов Антон Геннадьевич,19200,В,Повар,Гражданский 39 (СПБ)
67,Шанцев Антон Игоревич,12250,В,Грузчик,Татарский 1 (СПб)
4,Мирсаидов Абдикодир Орифджон Угли,22440,В,Тестовод,"2-й Муринский пр., 34к1 (СПб)"
27,Пулатов Бекзод Азизович,14280,В,Тестовод,Заречная 10 (СПб)
46,Ковалев Максим Григорьевич,17500,В,Грузчик,Планерная 47к1 (СПБ)
43,Байрамов Говшут,33880,А,Курьер,Народного Ополчения 22 (СПб)
9,Шведов Евгений Владимирович,29040,Б,Курьер,5-й Предпортовый пр-д 2стр1 (СПб)
25,Макаров Дмитрий Андреевич,26400,Б,Повар,Заводская 17с1 (СПБ)
22,Гасанов Тогрул Тофик,63730,А,-,-
81,Нет табельного,0,-,-,-
32,Нематов Орифджон Исроилович,19200,В,Повар,"Композиторов, 18 (СПб)"
52,Абдуллоев Фаридун Зарифджонович,18360,В,Тестовод,Сибирская 16 (СПБ)
8,Ташкулов Курбон Пулатович,35100,А,Сборщик,5-й Предпортовый пр-д 2стр1 (СПб)
15,Худайкулов Ходжиакбар Абдулла Угли,31460,А,Курьер,Большой Сампсониевский 18 (СПБ)
3,Гафуров Файйез Отабек Угли,19200,В,Повар,"2-й Муринский пр., 34к1 (СПб)"
20,Файзуллаев Нуриддин Хуснидин Угли,43200,А,-,-
40,Рахимов Ихлосбек Илхомбоевич,16800,В,Повар,"Металлистов, 116к1 (СПб)"
86,Ярашов Жамшедбек Улугбекович,24500,В,Грузчик,Федора Абрамова 20 (СПб)
69,Йулдашев Комронбек Рустам Угли,24200,В,Курьер,Типанова 25к1 (СПБ)
21,Исмонов Нормат Носирович,21600,В,Сборщик,Ветеранов 87 (СПБ)
23,Попандопуло Константин Валерьевич,33880,А,Курьер,Гражданский 39 (СПБ)
78,Григорян Мартин Мгерович,24200,В,Курьер,Тихорецкий 9к5 (СПБ)
13,Расулов Бекзад Улукбекович,21600,В,Сборщик,Большой Сампсониевский 18 (СПБ)
60,Абсалямов Александр Владимирович,24000,В,Повар,Союза Печатников 5 (СПб)
73,Иванов Андрей Сергеевич,16320,В,Тестовод,Тихая 3стр1 (СПб)
50,Абдураимов Бехруз Рашид Угли,21000,В,Грузчик,Рижская 12 (СПБ)
38,Нет табельного,0,-,-,-
76,Новак Евгений Викторович,28800,Б,Повар,Тихая 3стр1 (СПб)
65,Розиков Руслан Разок Угли,38720,А,Курьер,Среднерогатская 10к1 (СПБ)
10,Нет табельного,0,-,-,-
90,Ишанкулов Анваржан Касымович,29700,Б,Сборщик,"Шотмана, 7 (СПб)"
48,Апаканов Мусабек,35100,А,Сборщик,Рашетова 3 (СПб)

In [271]:
print_table_3 = table_4.to_excel('table_4_pivot_table.xlsx', index=True) # создаю excel таблицу